<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static "css/loginregister.css" %}"/>
  </head>

  <body class="text-center">
    <form class="form-signin">
      <h1 class="h3 mb-1 font-weight-normal">Please register</h1>
      <label for="inputFirstName" class="sr-only"></label>
      <input type="firstname" id="inputFirstName" class="form-control"
      placeholder="First Name" required autofocus>

      <label for="inputLastName" class="sr-only"></label>
      <input type="lastname" id="inputLastName" class="form-control"
      placeholder="Last Name" required autofocus>

      <label for="inputEmail" class="sr-only"></label>
      <input type="email" id="inputEmail" class="form-control"
      placeholder="Email address" required autofocus>

      <label for="inputPassword" class="sr-only"></label>
      <input type="password" id="inputPassword" class="form-control"
      placeholder="Password" required>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <a class="btn btn-primary btn-lg btn-block" href="welcome.html" role="button">Back</a>
      <!-- this button doesn't act like a submit one  -->
      <a class="btn btn-primary btn-lg btn-block" href="mainmenu.html" role="button">Continue</a>
      <!-- this button doesn't take you to the main menu -->
      <a href="mainmenu.html">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
       </a>

      <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
    </form>
  </body>
</html>
