<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Log in</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static "css/loginregister.css" %}"/>
  </head>

  <body class="text-center">
<form class="form-signin" method=POST>
    {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>



      <label for="inputUsername" class="sr-only"></label>
      <input type="username" name="username" id="inputUsername" class="form-control"
      placeholder="Username" required autofocus>

      <label for="inputPassword" class="sr-only"></label>
      <input type="password" name="password" id="inputPassword" class="form-control"
      placeholder="Password" required>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <input class="btn btn-secondary btn-lg btn-block" type="submit" name="" value="Continue">

      <a class="btn btn-secondary btn-lg btn-block" href="welcome.html" role="button">Back</a>
      <!-- this button doesn't act like a submit one  -->
      <a class="btn btn-secondary btn-lg btn-block" href="mainmenu.html" role="button">Continue</a>
      <!-- this button doesn't take you to the main menu -->
      <!-- <form action="welcome.html"> -->
      <!-- <button class="btn btn-secondary btn-lg btn-block" onclick="window.location.href=welcome.html" type="submit">Continue</button> -->
      <!-- </form> -->
      <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
</form>

    <!-- <script>
    function test(){
       window.location='mainmenu.html';
    }
    </script> -->
  </body>
</html>
