html,
body {
  height: 100%;
  font-family: 'Courier', monospace;
  font-size: 15px;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  background-color: #9DC183;
}

/* form sign in/log in */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  font-family: 'Courier', monospace;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 3;
}
.form-signin input {
  font-family: 'Courier', monospace;
  margin-bottom: -1px;
  border-bottom-right-radius: 1;
  border-bottom-left-radius: 1;
}
.form-signin input[type="lastname"] {
  /* margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; */
}
.form-signin input[type="password"] {
  /* margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; */
}

/* button */
.btn
{
  font-family: 'Courier', monospace;
  background-color: #6C7C59 !important;
  border-color: #6C7C59 !important;
  margin-bottom: -5px;
  margin: 0px auto;
}
 .btn-lg
{
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 5px;
}

.btn-block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  text-align: center;
}
.btn-pink
{
  font-family: 'Courier', monospace;
  background-color: #ff6ec7 !important;
  border-color: #ff6ec7 !important;
  margin-bottom: -5px;
  padding: 20px 20px;
  margin: 0px auto;
}
.btn-orange
{
  font-family: 'Courier', monospace;
  background-color: #FF9933 !important;
  border-color: #FF9933 !important;
  margin-bottom: -5px;
  padding: 20px 20px;
  margin: 0px auto;
}
.btn-blue
{
  font-family: 'Courier', monospace;
  background-color: #0cbfe9 !important;
  border-color: #0cbfe9 !important;
  margin-bottom: -5px;
  padding: 20px 20px;
  margin: 0px auto;
}
.btn-red
{
  font-family: 'Courier', monospace;
  background-color: #ff073a !important;
  border-color: #ff073a !important;
  margin-bottom: -5px;
  padding: 20px 20px;
  margin: 0px auto;
}
.btn-green
{
  font-family: 'Courier', monospace;
  background-color: #32CD32 !important;
  border-color: #32CD32 !important;
  margin-bottom: -5px;
  padding: 20px 20px;
  margin: 0px auto;
}
/* toggle button */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6C7C59;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* space between buttons */
.top-buffer {
  margin-top: 3%;
}
