<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PLAY</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">

    <!-- Custom styles for this template -->
	<link rel="stylesheet" href="{% static "css/loginregister.css" %}"/>
    <script src="{% static 'scripts/board.js' %}"></script>
    <style>
    body {
      background-color: #CAD9B5;
    }
    </style>
  </head>

  <body class="text-center">
    <form class="form-signin">

      <nav role="navigation">
          <div id="menuToggle">
              <input type="checkbox" />
              <span></span>
              <span></span>
              <span></span>
              <ul id="menu">
                  <a href="profile.html"><li>Profile</li></a>
                  <a href="settings.html"><li>Settings</li></a>
                  <a href="#"><li>About</li></a>
                  <a href="instructions.html"><li>Instructions</li></a>
                  <a href="https://images.app.goo.gl/pjh7DtfLYrhPts5y9" target="_blank"><li>ARGHHH</li></a>
				  <img src ="{% static 'images/kilburnlogo.png' %}" height="200" width="auto">
                  
              </ul>
          </div>
      </nav>

      <div class="outsideWrapper">
          <div class="insideWrapper">
			  <img src ="{% static 'images/BOARD.jpg' %}" class="coveredImage" id = "board">

              <canvas id="canvas" width = "570" height = "570" class="coveringCanvas"></canvas>
          </div>
      </div>

    </form>
  </body>
</html>
