<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Computer Mode</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static "css/loginregister.css" %}"/>
  </head>

  <body class="text-center">
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Select the number of players</h1>

      <div class="button-box col-lg-12">
        <a class="btn btn-primary btn-sm btn-info" href="profile.html" role="button">Profile</a>
        <a class="btn btn-primary btn-sm btn-info" href="settings.html" role="button">Settings</a>
      </div>

      <a class="btn btn-primary btn-lg btn-block" href=".html" role="button">1</a>
      <a class="btn btn-primary btn-lg btn-block" href=".html" role="button">2</a>
      <a class="btn btn-primary btn-lg btn-block" href=".html" role="button">3</a>

      <button type="button" class="btn btn-primary btn-sm btn-block" onclick="javascript:history.back()">Back</button>
      </form>
    </form>
  </body>
</html>
